@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation: fadeIn 3s ease-in-out;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  display: inline-block;
  max-width: 100%; /* Ensure the typewriter does not overflow its container */
}

.typewriter span {
  display: inline-block;
  animation: typewriter 5s linear; /* Repeat the animation infinitely */
}

@media screen and (max-width: 768px) {
  .typewriter {
      font-size: 12px; /* Adjust font size for better readability on mobile */
  }
}



